<div class="form-group m-t-lg image-cover">
    <label class="control-label col-xs-3">设置封面：</label>

    <div class="col-xs-20">
        <div class="row">
            <div class="col-xs-12">
                <div class="image-group">
                    <img src="/images/poster-cover.png" id="coverPreview">
                </div>
            </div>
            <div class="col-xs-12 m-t-50">
                <input id="file_upload" type="file" name="file"/>
                <input name="activity.cover" type="hidden" value=""/>

                <a class="open-image">没有准备海报？</a>

                <p class="m-t-lg">温馨提示：</p>

                <p>一张漂亮的海报，能让你的活动锦上添花，带来更多用户报名
                    及增加传播效果，也将影响其在活动行App被推荐的几率！</p>
            </div>
        </div>
    </div>
</div>