<div class="form-group">
    <label class="control-label col-xs-3">添加标签：</label>

    <div class="col-xs-20 labelList">
        <ul class="list-unstyled" id="partial-tags">

        </ul>
    </div>
</div>