<div class="container m-t-70">
    <div class="row">
        <div class="col-md-5">
            <div class="profile-left">
                <div class="user-info">
                    <div class="img"><img src="/images/pro-img.jpg"></div>
                    <span class="username">{{user.username}}</span>
                </div>
                <ul class="nav nav-pills nav-stacked b bg-white m-b-xs">
                    <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-user m-r-xs"></span>个人资料设置</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-lock m-r-xs"></span>修改密码</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-retweet m-r-xs"></span>帐号绑定</a></li>
                </ul>
                <div class="feature">
                    <a>
                        <div class="help b">
                            <div class="img-icon"></div>
                            <span class="text">使用帮助</span>
                        </div>
                    </a>
                    <a>
                        <div class="about b">
                            <div class="img-icon"></div>
                            <span class="text">关于我们</span>
                        </div>
                    </a>
                </div>
                <div class="bg-white p-h-sm p-v-sm b text-center f-gray m-b-lg">
                    <p>你也可以直接拨打电话
                        或发送邮件联系我们</p>
                    <p>400-4000-4000</p>
                    <p>kuando@163.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-19">
            <div class="bg-white p-h-lg profile-activity">
                <div class="row">
                    <div class="col-md-24">
                        <div class="line">
                            <span class="f-gray f-s-20"><span class="glyphicon glyphicon-user m-r-xs"></span>个人资料设置</span>
                        </div>
                    </div>
                    <div class="col-md-24 m-t-lg">
                        <div class="col-md-9 col-sm-12 com-xs-24">
                            <span class="pull-left m-r-sm m-l-lg">个人头像</span>
                            <div>
                                <img src="/images/pro-img.jpg">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 com-xs-24">
                            <p>支持JPG、GIF、PNG等图片格式 推荐尺寸：180*180像素</p>
                            <div class="m-t-lg">
                                <button class="btn btn-default m-r-xs">上传</button>
                                <button class="btn btn-success">确认</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-24 col-sm-24 m-t-lg">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">昵称<span class="f-red m-l-xs">*</span></label>
                                <div class="col-md-20">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-md-3">真实姓名</label>
                                <div class="col-md-20">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-md-3">简介</label>
                                <div class="col-md-20">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-md-3">手机<span class="f-red m-l-xs">*</span></label>
                                <div class="col-md-17">
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success">立即验证</button>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-md-3">地区</label>
                                <div class="col-md-10">
                                    <select class="form-control">
                                        <option>省份/直辖市</option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control">
                                        <option>请先选择省份/直辖市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-md-3">性别<span class="f-red m-l-xs">*</span></label>
                                <div class="col-md-4">
                                    <div class="radio c-radio">
                                        <label>
                                            <input type="radio" name="a" value="option1" checked="">
                                            <span class="fa fa-circle m-r-xs"></span>男</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="radio c-radio">
                                        <label>
                                            <input type="radio" name="a" value="option2">
                                            <span class="fa fa-circle m-r-xs"></span>女</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-md-3">邮箱<span class="f-red m-l-xs">*</span></label>
                                <div class="col-md-17">
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success">立即验证</button>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <div class="col-md-offset-11 col-md-3">
                                    <button class="btn btn-success">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>