<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link media="all" href="/css/bootstrap.css" rel="stylesheet">
    <link media="all" href="/css/non-responsive.css" rel="stylesheet">
    <link media="all" href="/css/style.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.4.0/animate.min.css" rel="stylesheet">
    {{#block "css"}}{{/block}}
    <!--[if lt IE 8]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <script src="//cdn.bootcss.com/es5-shim/4.3.1/es5-shim.js"></script>
    <![endif]-->
</head>
<body>
{{> layouts/header}}

<div class="wrapper">
{{{ body }}}
</div>

{{> layouts/footer}}
{{#block "scripts"}}{{/block}}
</body>
</html>