<div class="container m-t-70">
    <div class="row">
        <div class="col-md-24 m-t-lg text-center p-h-sm">
            <p class="f-s-24 p-v-sm f-gray">选择活动类型</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls1.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">举办会议</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls2.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">亲子互动</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls3.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">开设课程</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls4.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">发布文章</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls5.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">户外活动</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls6.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">照片墙</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls7.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">开展促销</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 m-t-lg p-h-sm">
            <a class="">
                <div class="div-shadow bg-white center-block text-center p-v-sm p-h-sm">
                    <p><img src="/images/ls8.jpg" width="230"></p>
                    <p class="f-s-16 f-black m-t-lg">举办沙龙</p>
                    <p class="m-t-xs f-gray">氪学社针对创业过程中的问题实时答疑解惑；校友间经验分享，共同成长</p>
                </div>
            </a>
        </div>
    </div>
</div>