<div class="container m-t-70">
    <div class="row">
        <!-- 文章内容 -->
        <div class="col-xs-17">
            <div class="inner bg-white shadow">
                <div class="inner-header">
                    <h1>小米发布红米 Note 3 及小米平板 2</h1>
                    <div class="author text-center">
                        <a href="">
                            <span class="avatar"><img src="/images/jd2.jpg"></span>
                            <span class="f-green">sinCerus</span>
                        </a>
                        <span class="time">&nbsp;•&nbsp;2015/11/24 14:49</span>
                    </div>
                    <div class="cover-img">
                        <img src="/images/hm.jpg" width="740">
                    </div>
                    <div class="vote b bg-gray">
                        <p>
                            <span class="glyphicon glyphicon-time m-r-xxs"></span>
                            <span class="m-r-xs">2015/12/05 13:30</span>至<span class="m-l-xs">2015/12/07 17:30 </span>
                            <span class="m-l-xxl">截止时间：2015/12/07 12:00</span>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-map-marker m-r-xxs"></span>北京奥林匹克森林公园南园奉献广场
                        </p>
                        <button class="btn btn-success center-block">我要报名</button>
                    </div>
                </div>
                <div class="inner-body">

                </div>
                <div class="inner-footer" id="zan">
                    <div class="zan">
                        <a class="dianzan">赞</a>
                    </div>
                    <div class="tag-group m-t-lg">
                        <span>标签：</span>
                        <span class="tag-item"><a href="" target="_blank">互联网</a></span>
                        <span class="tag-item"><a href="" target="_blank">云计算</a></span>
                        <span class="tag-item"><a href="" target="_blank">软件</a></span>
                    </div>
                    <div class="share m-t-xxl b-t p-v-lg" id="share">
                        <div class="stars">
                            <a class="favorite-btn star-false"><i class="icon-star"></i></a>
                            <span id="star-counts">7</span>
                        </div>
                        <div class="share-list">
                            <span>分享到</span>
                            <a class=""><i class="icon-weixin"></i></a>
                            <a class=""><i class="icon-weibo"></i></a>
                            <a class=""><i class="icon-qq"></i></a>
                            <a class=""><i class="icon-douban"></i></a>
                            <a class=""><i class="icon-renren"></i></a>
                            <a class=""><i class="icon-facebook"></i></a>
                            <a class=""><i class="icon-twitter"></i></a>
                        </div>
                        <!--<button class="show-notification">111111111</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="col-xs-7">
            <div class="latest-articles bg-white shadow p-v-xs p-h-md m-b-lg">
                <div class="author">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/images/jd2.jpg"
                                 alt="发布者">
                        </a>
                        <div class="media-body">
                            <a><h4 class="media-heading">sinCerus</h4></a>
                            <p class="desc">这是一些示例文本。这是一些示例文本。</p>
                        </div>
                    </div>
                </div>
                <h4 class="m-b-sm">最近文章<i></i></h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top1.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    看完《火星救援》的周末，我们来聊聊为什么好莱坞瞄准了中国市场
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top2.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    “黑五”热度之下，苹果“高冷”不改
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top3.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    【青云】QingCloud携手合作伙伴 打造开放共赢“X计划”
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="more-article"><a href="">更多 &gt;</a></div>
            </div>
            <!-- 推广链接 -->
            <div>
                <img class="img-responsive" src="/images/lf1.jpg" width="100%">
            </div>
            <div class="top-articles m-t-lg bg-white shadow p-v-xs p-h-md">
                <h4 class="m-b-sm">推广链接</h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top1.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    看完《火星救援》的周末，我们来聊聊为什么好莱坞瞄准了中国市场
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top2.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    “黑五”热度之下，苹果“高冷”不改
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top3.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    【青云】QingCloud携手合作伙伴 打造开放共赢“X计划”
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 热门文章 -->
            <div class="m-t-lg">
                <img class="img-responsive" src="/images/lf2.jpg" width="100%">
            </div>
            <div class="top-articles m-t-lg bg-white shadow p-v-xs p-h-md">
                <h4 class="m-b-sm">热门文章</h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top1.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    看完《火星救援》的周末，我们来聊聊为什么好莱坞瞄准了中国市场
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top2.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    “黑五”热度之下，苹果“高冷”不改
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top3.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    【青云】QingCloud携手合作伙伴 打造开放共赢“X计划”
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top4.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    聊聊 JobDeer 从无到有，再到停止运营的那些事
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top5.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    胖虎完成千万元级人民币融资，盘活千亿级二手奢侈品市场，高净值人群是关键
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{> scripts entry="activities-info"}}
