{{!< activityLayout }}
<div class="col-xs-24">
    <div class="bg-white activity-info shadow">
        <div class="create-title bg-success">填写活动信息</div>
        <form class="form-horizontal m-t-lg m-b-lg" id="activityForm">
            <div class="form-group">
                <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>填写标题：</label>

                <div class="col-xs-15">
                    <input class="form-control input-lg" type="text" placeholder="请填写活动标题" name="activity.title">
                </div>
            </div>
            {{!--<div class="form-group m-t-lg">--}}
            {{!--<label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>选择时间：</label>--}}

            {{!--<div class="col-xs-15">--}}
            {{!--<div class="row">--}}
            {{!--<div class="col-xs-11">--}}
            {{!--<input class="form-control input-lg form_datetime" type="text" placeholder="开始时间"--}}
            {{!--name="extras.startTime" id="startTime" readonly>--}}
            {{!--<span class="glyphicon glyphicon-time form-control-feedback f-gray f-s-20"></span>--}}
            {{!--</div>--}}
            {{!--<div class="col-xs-2 text-center">--}}
            {{!--<span class="glyphicon glyphicon-arrow-right f-gray f-s-24 m-t-xs"></span>--}}
            {{!--</div>--}}
            {{!--<div class="col-xs-11">--}}
            {{!--<input class="form-control input-lg form_datetime" type="text" placeholder="结束时间"--}}
            {{!--name="extras.endTime"--}}
            {{!--id="endTime" readonly>--}}
            {{!--<span class="glyphicon glyphicon-time form-control-feedback f-gray f-s-20"></span>--}}
            {{!--</div>--}}
            {{!--</div>--}}
            {{!--</div>--}}
            {{!--</div>--}}
            {{!--<div class="form-group m-t-lg">--}}
            {{!--<label class="control-label col-xs-3">填写地址：</label>--}}

            {{!--<div class="col-xs-15">--}}
            {{!--<input class="form-control input-lg" type="text" name="extras.address" placeholder="例如：北京海淀区中关村">--}}
            {{!--</div>--}}
            {{!--</div>--}}
            {{> cover }}
            {{> tags/tagList}}
            {{> editor/umEditor wxEditor=true }}
        </form>
    </div>
</div>

{{#content "scripts" mode="prepend"}}
    {{> scripts entry="post-activity"}}
{{/content}}
