{{!< activityLayout }}
{{#content "extras"}}

    <div class="form-group m-t-lg">
        <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>选择时间：</label>

        <div class="col-xs-15">
            <div class="row">
                <div class="col-xs-11">
                    <input class="form-control input-lg form_datetime" type="text" placeholder="开始时间"
                           name="activity.extras.startTime" id="startTime" readonly>
                    <span class="glyphicon glyphicon-time form-control-feedback f-gray f-s-20"></span>
                </div>
                <div class="col-xs-2 text-center">
                    <span class="glyphicon glyphicon-arrow-right f-gray f-s-24 m-t-xs"></span>
                </div>
                <div class="col-xs-11">
                    <input class="form-control input-lg form_datetime" type="text" placeholder="结束时间"
                           name="activity.extras.endTime"
                           id="endTime" readonly>
                    <span class="glyphicon glyphicon-time form-control-feedback f-gray f-s-20"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group m-t-lg">
        <label class="control-label col-xs-3">填写地址：</label>

        <div class="col-xs-15">
            <input class="form-control input-lg" type="text" name="activity.extras.address"
                   placeholder="例如：北京海淀区中关村">
        </div>
    </div>

    <div class="form-group m-t-lg">
        <label class="control-label col-xs-3">填写人数：</label>

        <div class="col-xs-15">
            <input class="form-control input-lg" type="text" name="activity.extras.count"
                   placeholder="人数">
        </div>
    </div>

{{/content}}

{{> editor/umEditor wxEditor=true }}

{{#content "scripts" mode="prepend"}}
    {{> scripts entry="post-activity"}}
{{/content}}
