<div class="container">
    <div class="row">
        <div class="col-xs-24">
            <div class="bg-white filtration">
                <ul>
                    <li>
                        <div class="filtration-list">
                            <div class="pull-left f-s-14 f-default w-70">
                                <span class="glyphicon glyphicon-time m-r-xxs"></span>时间：
                            </div>
                            <ul class="list-inline w-1000">
                                <li><a class="item active">全部</a></li>
                                <li><a class="item">最近一周</a></li>
                                <li><a class="item">今天</a></li>
                                <li><a class="item">明天</a></li>
                                <li><a class="item">周末</a></li>
                                <li><a class="item">选择日期</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="filtration-list">
                            <div class="pull-left f-s-14 f-default w-70">
                                <span class="glyphicon glyphicon-tags m-r-xxs"></span>分类：
                            </div>
                            <ul class="list-inline w-1000">
                                <li><a class="item active">全部</a></li>
                                <li><a class="item">创业</a></li>
                                <li><a class="item">商务</a></li>
                                <li><a class="item">科技</a></li>
                                <li><a class="item">课程</a></li>
                                <li><a class="item">生活</a></li>
                                <li><a class="item">运动</a></li>
                                <li><a class="item">社交</a></li>
                                <li><a class="item">娱乐</a></li>
                                <li><a class="item">亲子</a></li>
                                <li><a class="item">文化</a></li>
                                <li><a class="item">音乐</a></li>
                                <li><a class="item">娱乐</a></li>
                                <li><a class="item">亲子</a></li>
                                <li><a class="item">文化</a></li>
                                <li><a class="item">音乐</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="filtration-list">
                            <div class="pull-left f-s-14 f-default w-70">
                                <span class="glyphicon glyphicon-heart m-r-xxs"></span>兴趣：
                            </div>
                            <ul class="list-inline w-1000">
                                <li><a class="item active">全部</a></li>
                                <li><a class="item">北京</a></li>
                                <li><a class="item">上海</a></li>
                                <li><a class="item">江苏</a></li>
                                <li><a class="item">安徽</a></li>
                                <li><a class="item">河南</a></li>
                                <li><a class="item">江苏</a></li>
                                <li><a class="item">安徽</a></li>
                                <li><a class="item">河南</a></li>
                                <li><a class="item">江苏</a></li>
                                <li><a class="item">安徽</a></li>
                                <li><a class="item">河南</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container m-t-md">
    <!--<div class="tab-list">-->
        <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
        <!--<ul class="nav nav-tabs no-b bg-white" role="tablist">-->
            <!--<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最新发布</a>-->
            <!--</li>-->
            <!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">热门点击</a>-->
            <!--</li>-->
            <!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">最多参与</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
        <!--<div class="tab-content m-b-md">-->
            <!--<div role="tabpanel" class="tab-pane fade in active" id="home"></div>-->
            <!--<div role="tabpanel" class="tab-pane fade" id="profile"></div>-->
            <!--<div role="tabpanel" class="tab-pane fade" id="messages"></div>-->
        <!--</div>-->

    <!--</div>-->
    <div class="row">
        <!-- 文章列表 -->
        <div class="col-xs-17">
            <div class="article-list">
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls8.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>
                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-16 f-orange glyphicon glyphicon-star m-r-xxs"></span><span class="m-r-lg">73</span>
                                            <span class="f-s-16 f-green glyphicon glyphicon-eye-open m-r-xxs"></span><span class="m-r-lg">277</span>
                                            <span class="f-s-16 f-blue glyphicon glyphicon-share m-r-xxs"></span><span class="m-r-xs">96</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls3.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls4.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls5.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/images/ls6.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="/images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls7.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="article-title"><h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4></a>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="load-more">加载更多</a>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="col-xs-7">
            <!-- 推广链接 -->
            <div>
                <img class="img-responsive" src="/images/lf1.jpg" width="100%">
            </div>
            <div class="top-articles m-t-md bg-white shadow p-v-xs p-h-md">
                <h4 class="m-b-sm">推广链接</h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top1.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    看完《火星救援》的周末，我们来聊聊为什么好莱坞瞄准了中国市场
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top2.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    “黑五”热度之下，苹果“高冷”不改
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top3.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    【青云】QingCloud携手合作伙伴 打造开放共赢“X计划”
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 热门文章 -->
            <div class="m-t-md">
                <img class="img-responsive" src="/images/lf2.jpg" width="100%">
            </div>
            <div class="top-articles m-t-md bg-white shadow p-v-xs p-h-md">
                <h4 class="m-b-sm">热门文章</h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top1.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    看完《火星救援》的周末，我们来聊聊为什么好莱坞瞄准了中国市场
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top2.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    “黑五”热度之下，苹果“高冷”不改
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top3.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    【青云】QingCloud携手合作伙伴 打造开放共赢“X计划”
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top4.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    聊聊 JobDeer 从无到有，再到停止运营的那些事
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/images/top5.jpg"
                                     alt="媒体对象" width="60" height="60">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)">
                                    胖虎完成千万元级人民币融资，盘活千亿级二手奢侈品市场，高净值人群是关键
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
