<div class="container m-t-lg">
    <div class="row">
        <div class="col-md-24">
            <div class="bg-white filtration">
                <ul>
                    <li>
                        <div class="filtration-list">
                            <span class="pull-left f-s-16 f-gray">时间：</span>
                            <ul class="list-inline">
                                <li><a class="item active">全部</a></li>
                                <li><a class="item">最近一周</a></li>
                                <li><a class="item">今天</a></li>
                                <li><a class="item">明天</a></li>
                                <li><a class="item">周末</a></li>
                                <li><a class="item">选择日期</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="filtration-list">
                            <span class="pull-left f-s-16 f-gray">兴趣：</span>
                            <ul class="list-inline">
                                <li><a class="item active">全部</a></li>
                                <li><a class="item">创业</a></li>
                                <li><a class="item">商务</a></li>
                                <li><a class="item">科技</a></li>
                                <li><a class="item">课程</a></li>
                                <li><a class="item">生活</a></li>
                                <li><a class="item">运动</a></li>
                                <li><a class="item">社交</a></li>
                                <li><a class="item">娱乐</a></li>
                                <li><a class="item">亲子</a></li>
                                <li><a class="item">文化</a></li>
                                <li><a class="item">音乐</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="filtration-list">
                            <span class="pull-left f-s-16 f-gray">城市：</span>
                            <ul class="list-inline">
                                <li><a class="item active">全部</a></li>
                                <li><a class="item">北京</a></li>
                                <li><a class="item">上海</a></li>
                                <li><a class="item">江苏</a></li>
                                <li><a class="item">安徽</a></li>
                                <li><a class="item">河南</a></li>
                                <li><a class="item">江苏</a></li>
                                <li><a class="item">安徽</a></li>
                                <li><a class="item">河南</a></li>
                                <li><a class="item">江苏</a></li>
                                <li><a class="item">安徽</a></li>
                                <li><a class="item">河南</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container m-t-lg">
    <div class="tab-list">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs no-b bg-white" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最新发布</a>
            </li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">热门点击</a>
            </li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">最多参与</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">1</div>
            <div role="tabpanel" class="tab-pane fade" id="profile">2</div>
            <div role="tabpanel" class="tab-pane fade" id="messages">3</div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-18">
            <div class="article">
                <ul class="list-unstyled">
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls8.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading f-s-16 m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls3.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls4.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls5.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls6.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/ls7.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading m-t-sm">2015京东移动技术峰会</h4>

                                <div class="f-gray">
                                    <p><span class="glyphicon glyphicon-time m-r-xs m-t-sm"></span>2015-11-6</p>

                                    <p><span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                    </p>

                                    <div class="m-t-sm">
                                        <span class="m-r-xs"><img src="images/jd2.jpg" width="27" height="27"></span>
                                        <span>京东技术学院</span>

                                        <div class="pull-right m-r-xs">
                                            <span class="f-s-18 glyphicon glyphicon-star"></span><span class="m-r-xs">1256</span>
                                            <span class="f-s-18 glyphicon glyphicon-share"></span><span class="m-r-xs">1567</span>
                                            <a class="btn btn-success">我要收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <nav class="">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-6">
            <div>
                <img class="img-responsive" src="images/lf1.jpg" width="100%">
                <img class="img-responsive m-t-lg" src="images/lf2.jpg" width="100%">
            </div>
            <div class="right-list m-t-lg b-t">
                <ul class="list-unstyled">
                    <li>
                        <span class="f-s-20 f-red glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-orange glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-yellow glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                    <li>
                        <span class="f-s-20 f-white glyphicon glyphicon-bookmark"></span>
                        <a>
                            2015年浙江省大学生艺术节合艺术节合艺术节合艺术节合
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
