{{!< loginLayout }}
<div class="row">
    <div class="center">
        <div class="login-box">
            <a href="index.html" class="logo-name">招生易</a>

            <p class="logo-d">服务从心开始</p>

            <form class="m-t-md">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="手机号/邮箱">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="请输入密码">
                </div>
                <div class="form-group">
                    <div class="text-right">
                        <a href="forgot.html" class="f-white">忘记密码？</a>
                    </div>
                </div>

                <input class="block submit" type="submit" value="登录">

                <div class="or">
                    <p class="f-white">我还没有账号，<a href="/register" class="f-blue">我要注册</a></p>

                    <p class="big-or">or</p>

                    <p class="big-san">第三方账号登录</p>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-8">
                    <a href="">
                        <img src="/images/qq_logo.png">
                    </a>
                </div>
                <div class="col-xs-8">
                    <a href="">
                        <img src="/images/sina_logo_48x48.png">
                    </a>
                </div>
                <div class="col-xs-8">
                    <a href="">
                        <img src="/images/baidu_logo.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
