<div class="container">
    <img class="center-block" src="images/3.jpg" alt="..." width="100%">
</div>
<div class="container m-t-lg">
    <div class="row">
        <div class="col-xs-24">
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-paperclip f-s-24 f-gray pull-left m-t-n-lg"></span>
                <p class="f-s-16 f-black">
                    导语：通往每个里程碑的路途中，runner们都会流着汗，不断遇见一个又一个更好的自己。出门跑一跑，流点汗，付出一点点小努力，就可以获得稳稳的小确幸！尽管去跑，跑出你的小确幸！
                </p>
            </div>
        </div>
        <div class="col-xs-24">
            <div class="topic-list">
            <div class="media shadow div-shadow">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/images/zt1.jpg"
                         alt="媒体对象" width="800" height="330">
                </a>
                <div class="media-body">
                    <div class="topic-info p-h-md p-v-xs">
                        <div class="detail">
                            <span class="logo">
                                <img src="/images/fbr.jpg" width="60" height="60">
                            </span>
                            <a class="detail-title">2015中国互联网金融创新峰会暨诚信金融颁奖盛典</a>
                            <div class="detail-attr">
                                <p class="m-t-xs">发布人：</p>
                                <p class="m-t-xs">时间：</p>
                                <p class="m-t-xs">描述：</p>
                            </div>
                            <div class="detail-intro">
                                <p class="m-t-xs">Kiddie Fun</p>
                                <p class="m-t-xs">2015-11-30 </p>
                                <p class="m-t-xs detail-description">携手行业标杆，对大行业发展趋势作出前瞻性判断，深入剖析知名企业运作案例，分享成功之道，拨开行业的迷雾，看见机遇的光芒！</p>
                            </div>
                            <div class="row detail-info p-v-xxs">
                                <div class="col-xs-8">
                                    <span class="glyphicon glyphicon-star f-orange f-s-24"></span>
                                    <p>53</p>
                                </div>
                                <div class="col-xs-8">
                                    <span class="glyphicon glyphicon-eye-open f-green f-s-24"></span>
                                    <p>211</p>
                                </div>
                                <div class="col-xs-8">
                                    <span class="glyphicon glyphicon-share f-blue f-s-24"></span>
                                    <p>89</p>
                                </div>
                            </div>
                            <a class="more-detail">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>