<div class="container m-t-70">
    <div class="row">
        <div class="col-md-24">
            <div class="profile-header">
                <div class="">
                    <div class="text-right">
                        <a class="btn btn-default m-r-xs m-t-xs">完善个人信息</a>
                    </div>
                    <div class="avatar text-center">
                        <img class="m-t-lg" src="images/pro-img.jpg">
                    </div>
                    <div class="pro-name text-center m-t-lg">
                        <p class="f-white f-s-18">18912341233</p>
                        <p class="f-white f-s-16">一句话介绍</p>
                    </div>
                </div>
            </div>
            <div class="profile-header-b">
                <div class="text-center f-white">
                    <span class="category">
                        <a href="javascript:void(0)">我关注的<strong>0</strong></a>
                        <a href="javascript:void(0)">我发布的<strong>0</strong></a>
                        <a href="javascript:void(0)">我收藏的<strong>0</strong></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container m-t-lg m-b-lg">
    <div class="row">
        <div class="col-md-5">
            <div class="profile-left">
                <ul class="nav nav-pills nav-stacked b bg-white m-b-lg">
                    <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-tags m-r-xs"></span>我的活动行</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-check m-r-xs"></span>我发布的</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-thumbs-up m-r-xs"></span>我关注的</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-star-empty m-r-xs"></span>我收藏的</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-cog m-r-xs"></span>账户设置</a></li>
                </ul>
                <div class="feature">
                    <a>
                        <div class="help b">
                            <div class="img-icon"></div>
                            <span class="text">使用帮助</span>
                        </div>
                    </a>
                    <a>
                        <div class="about b">
                            <div class="img-icon"></div>
                            <span class="text">关于我们</span>
                        </div>
                    </a>
                </div>
                <div class="bg-white p-h-sm p-v-sm b text-center f-black m-b-lg">
                    <p>你也可以直接拨打电话
                        或发送邮件联系我们</p>
                    <p>400-4000-4000</p>
                    <p>kuando@163.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-19">
            <div class="bg-white shadow p-h-lg profile-activity">
                <div class="row">
                    <div class="col-md-24">
                        <div class="line">
                            <span class="f-black f-s-20"><span class="glyphicon glyphicon-tags m-r-xs"></span>我的活动行</span>
                        </div>
                    </div>
                    <div class="tips-area">
                        <div class="col-md-offset-5 col-md-15 p-t-120">
                            <div class="tips-one pull-left"></div>
                            <a class="f-s-20 m-l-xs">赶快去发现活动！</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>