body {
    position: relative;
    font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    background: #f2f2f2;
}
.login-box{
    width: 370px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0 0 0;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    top: 50%;
    margin-top: -190px;
}
.login-box .login-top{
    padding: 0 20px;
}
.login-box .login-top legend{
    margin: 0 -20px 20px;
    padding: 0 20px;
    display: block;
    box-sizing: content-box;
}
.login-box .login-top legend h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 -1px;
    line-height: 38px;
    border-bottom: solid 3px #2ab27b;
    display: inline-block;
}
.login-box form{
    padding: 0 20px;
}
.logo-d{
    color: #212121;
    text-align: center;
    margin: 15px 0;
}
.login-box input {
    padding: 0 10px;
    margin-bottom: 15px;
    outline: 0;
}

.login-box input[type="password"] {
    color: #7f7f7f;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255,1);
}

.login-box input[type="text"] {
    color: #7f7f7f;
    line-height: 40px;
    height: 40px;
    background: rgba(255,255,255,1);
}

.block {
    display: block;
}

.login-box input[disabled] {
    opacity: .5;
}

.or {
    text-align: center;
    color: #212121;
    padding: 10px;
    border-bottom: 1px dashed #2ab27b;
}

.big-or {
    font-size: 16px;
    margin: 0;
}

.big-san {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}
.items{
    text-align: center;
    /*background-color: #f0f8ff;*/
    margin: 0;
    padding: 10px 0 20px 0;
}
.items a.item{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    line-height: 43px;
    font-size: 20px;
}
.items .icon-weixin{
    border: 2px solid #2ab27b;
    color: #2ab27b;
}
.items .icon-weixin:hover{
    border: 2px solid #2ab27b;
    color: #fff;
    background: #2ab27b;
}
.items .icon-weibo{
    border: 2px solid #f25656;
    color: #f25656;
}
.items .icon-weibo:hover{
    border: 2px solid #f25656;
    color: #fff;
    background: #f25656;
}
.items .icon-qq{
    border: 2px solid #439fe0;
    color: #439fe0;
}
.items .icon-qq:hover{
    border: 2px solid #439fe0;
    color: #fff;
    background: #439fe0;
}