body {
    font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    background: url("../images/login_bg.jpg") no-repeat fixed transparent;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
.center{
    width: 100%;
    position: fixed;
    top: 50%;
    margin-top: -250px;
}
.login-box{
    width: 330px;
    margin: 0 auto;
    background: rgba(0,0,0,.25);  /*支持rgba的浏览器*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);    /*IE8支持*/
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}
.logo-name{
    font-weight: normal;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.logo-name:hover{
    color: #fff
}
.logo-d{
    color: #fff;
    text-align: center;
    margin: 15px 0;
}
.login-box input {
    padding: 0 10px;
    margin-bottom: 15px;
    outline: 0;
}

.login-box input[type="password"] {
    border: none;
    color: #7f7f7f;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255,1);
}

.login-box input[type="text"] {
    border: none;
    color: #7f7f7f;
    line-height: 40px;
    height: 40px;
    background: rgba(255,255,255,1);
}
.login-box input[type="submit"] {
    background-color: #72d26e;
    border: none;
    color: #fff;
    height: 40px;
    padding: 0;
    outline: none;
}
.login-box input[type="submit"]:hover {
    opacity: 0.9;
}
.submit {
    width: 100%;
}

.block {
    display: block;
}

.login-box input[disabled] {
    opacity: .5;
}

.login-box input[type="button"] {
    background-color: #3cacfc;
    border: none;
    color: #fff;
    height: 40px;
    margin-top: -55px;
    padding: 0;
    float: right;
    width: 100px;
}

.or {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px dashed #fff;
    padding: 10px;
}

.big-or {
    font-size: 16px;
    margin: 0;
}

.big-san {
    font-size: 12px;
}

/* Nav-Tabs
=================================================================== */
.nav-tabs {
    border-bottom: none;
}
.nav-tabs.default.bordered+.tab-content{
    border-top:0;
    -webkit-border-radius:0 0 1px 1px;
    -webkit-background-clip:padding-box;
    -moz-border-radius:0 0 1px 1px;
    -moz-background-clip:padding;
    border-radius:0 0 1px 1px;
    background-clip:padding-box;
    margin-bottom:20px;
    line-height:24px;
    color:#414142;
}

.nav-tabs.default > li > a{
    line-height:0.82857143;
    border-radius:1px 1px 0 0;
    color:#fff;
    border:1px #fff dashed;
}

.nav-tabs.default > li > a:hover{
    background: #72d26e;
    border:1px #72d26e solid;
    color:#fff;
}

.nav-tabs.default > li.active > a{
    background: #72d26e;
    border:1px #72d26e solid;
    color:#fff
}

.nav-tabs.primary.bordered+.tab-content{
    border:1px solid #337ab7;
    border-top:0;
    min-height:161px;
    -webkit-border-radius:0 0 1px 1px;
    -webkit-background-clip:padding-box;
    -moz-border-radius:0 0 1px 1px;
    -moz-background-clip:padding;
    border-radius:0 0 1px 1px;
    background-clip:padding-box;
    padding:20px;
    margin-bottom:20px;
    background-color:#337ab7;
    line-height:24px;
    color:#fff
}

.nav-tabs.primary > li > a{
    margin-right:2px;
    line-height:1.42857143;
    border-radius:1px 1px 0 0;
    background-color:#60c2e8;
    color:#FFF
}

.nav-tabs.primary > li > a:hover{
    background-color:#286090;
    color:#fff
}

.nav-tabs.primary > li.active > a {
    background-color: #337ab7;
    border: solid 1px #337ab7;
    color: #fff
}
/* Form
=================================================================== */
.form-control {
    border-radius: 0;
}
.c-checkbox,
.c-radio {
    margin-right: 4px;
}
.c-checkbox *,
.c-radio * {
    cursor: pointer;
}
.c-checkbox input,
.c-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.c-checkbox:hover span,
.c-radio:hover span {
    border-color: #72d26e;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
    margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
    border-radius: 500px;
}
/* override for radio */
.c-radio span {
    border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
/* Checked state */
input[type=checkbox]:checked + span:before,
input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color 0.3 ease-out;
}
input[type=checkbox]:checked + span,
input[type=radio]:checked + span {
    border-color: #72d26e;
    background-color: #72d26e;
}
/* override for radio */
input[type=radio]:checked + span {
    background-color: #fff;
}
input[type=radio]:checked + span:before {
    color: #72d26e;
}


