{{> home/homeTop home=true}}
<div class="container m-t-md">
    <div class="row">
        {{> home/sideMenu following=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg user-main-h">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-info f-s-20"><span
                                    class="glyphicon glyphicon-thumbs-up m-r-xs"></span>我关注的</span>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <div class="tips-area hide">
                            <div class="col-md-offset-5 col-md-15 p-t-120">
                                <div class="tips-four pull-left"></div>
                                <a class="f-s-20 m-l-xs">赶快去发现活动！</a>
                            </div>
                        </div>
                        <div class="enthusiasm">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="/images/jd2.jpg" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="media-heading f-s-14">
                                                <a>
                                                    京东移动技术
                                                    <a class="pull-right m-r-xs f-gray">TA的更多活动>></a>
                                                </a>
                                            </p>

                                            <div class="f-gray">
                                                <p>创业邦传媒创立于2007 年，以“创新成...</p>

                                                <div>
                                                    <span>江苏 徐州</span>

                                                    <div class="pull-right m-r-xs">
                                                        <span class="m-r-xs">发布：<a class="f-green">12</a></span>
                                                        <span class="m-r-xs">关注：<a class="f-green">23</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>