<div class="container">
    <div class="row">
        {{> home/sideMenu stars=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg user-main-h">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-gray f-s-20"><span class="glyphicon glyphicon-star-empty m-r-xs"></span>我收藏的</span>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <div class="tips-area hide">
                            <div class="col-md-offset-5 col-md-15 p-t-120">
                                <div class="tips-four pull-left"></div>
                                <a class="f-s-20 m-l-xs">赶快去发现活动！</a>
                            </div>
                        </div>
                        <div class="collection">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="/images/ls8.jpg" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="media-heading f-s-14 m-t-xs">2015京东移动技术峰会
                                                <a><span class="pull-right m-r-xs">
                                                    <span class="glyphicon glyphicon-share m-r-xs"></span>分享</span></a>
                                            </p>

                                            <div class="f-gray">
                                                <p class="m-t-xs">
                                                    <span class="glyphicon glyphicon-map-marker m-r-xs"></span>（北京海淀）海淀区中关村创业大街昊海楼9楼
                                                </p>

                                                <div>
                                                    <span>开始时间：2015-11-12 9：00</span>

                                                    <div class="label label-warning">即将开始</div>
                                                    <div class="pull-right m-r-xs">
                                                        <span class="f-s-18 glyphicon glyphicon-star"></span><span
                                                            class="m-r-xs">1256</span>
                                                        <span class="f-s-18 glyphicon glyphicon-share"></span><span
                                                            class="m-r-xs">1567</span>
                                                        <a class="btn btn-success btn-xs">取消收藏</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>