<div class="container">
    <div class="row">
        {{> home/sideMenu bind=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg profile-activity">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-gray f-s-20"><span class="glyphicon glyphicon-retweet m-r-xs"></span>帐号绑定</span>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <div class="row">
                            <div class="col-xs-offset-7 col-xs-12">
                                <form class="form-horizontal">
                                    <div class="form-group m-t-lg">
                                        <div class="col-md-6">
                                            <img src="/images/sina_logo_48x48_disabled.png">
                                        </div>
                                        <div class="col-md-10">
                                            <p class="m-t-xs">你还未绑定新浪微博</p>
                                        </div>
                                        <div class="col-md-6 p-v-xs">
                                            <a class="">点击绑定</a>
                                        </div>
                                    </div>
                                    <div class="form-group m-t-lg">
                                        <div class="col-md-6">
                                            <img src="/images/qq_logo_48x48_disabled.png">
                                        </div>
                                        <div class="col-md-10">
                                            <p class="m-t-xs">你还未绑定腾讯QQ</p>
                                        </div>
                                        <div class="col-md-6 p-v-xs">
                                            <a class="">点击绑定</a>
                                        </div>
                                    </div>
                                    <div class="form-group m-t-lg">
                                        <div class="col-md-6">
                                            <img src="/images/bd_logo_48x48.png">
                                        </div>
                                        <div class="col-md-10">
                                            <p class="m-t-xs">zgx27399</p>
                                        </div>
                                        <div class="col-md-6 p-v-xs">
                                            <a class="">取消绑定</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>