<div class="container">
    <div class="row">
        {{> home/sideMenu bind=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg user-main-h">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-black f-s-20"><span class="glyphicon glyphicon-retweet m-r-xs"></span>帐号绑定</span>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="bind bg-gray text-center">
                                     <img src="/images/weixin.png" alt="">
                                    <p class="m-t-lg">您的微信帐号(未绑定)</p>
                                    <button class="btn btn-success btn-sm">点击绑定微博帐号</button>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="bind bg-gray text-center">
                                    <img src="/images/weibo.png" alt="">
                                    <p class="m-t-lg">您的微博帐号(未绑定)</p>
                                    <button class="btn btn-danger btn-sm">点击绑定微博帐号</button>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="bind bg-gray text-center">
                                    <img src="/images/qq.png" alt="">
                                    <p class="m-t-lg">您的QQ帐号(未绑定)</p>
                                    <button class="btn btn-white btn-sm">点击绑定微博帐号</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>