<div class="container">
    <div class="row">
        {{> home/sideMenu password=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg user-main-h">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-black f-s-20"><span class="glyphicon glyphicon-lock m-r-xs"></span>密码设置</span>
                        </div>
                    </div>
                    <div class="col-xs-24">
                        <div class="row">
                            <div class="col-xs-24">
                                <form class="form-horizontal">
                                    <div class="form-group m-t-lg">
                                        <label class="control-label col-xs-3">旧密码</label>
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" placeholder="请输入旧密码">
                                        </div>
                                    </div>
                                    <div class="form-group m-t-lg">
                                        <label class="control-label col-xs-3">新密码</label>
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" placeholder="请输入新密码，限6~20字符">
                                        </div>
                                    </div>
                                    <div class="form-group m-t-lg">
                                        <label class="control-label col-xs-3">确认新密码</label>
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" placeholder="限6~20字符">
                                        </div>
                                    </div>
                                    <div class="form-group m-t-lg">
                                        <div class="col-xs-offset-3 col-xs-12">
                                            <button class="btn btn-default btn-custom">确认</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-black f-s-20">
                                <span class="glyphicon glyphicon-wrench m-r-xs"></span>帐号设置
                                <span class="f-s-14">（所有设置账号都可用于登录）</span>

                            </span>
                        </div>
                    </div>
                    <div class="col-xs-24">
                        <div class="row">
                            <div class="col-xs-24">
                                <h4></h4>
                            </div>
                            <div class="col-xs-24">
                                <form class="form-horizontal">
                                    <div class="form-group m-t-lg">
                                        <label class="control-label col-xs-3">邮箱：</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" type="text" placeholder="请输入邮箱">
                                        </div>
                                        <div class="col-xs-4">
                                            <button class="btn btn-default btn-block btn-custom btn-sm">立即验证</button>
                                        </div>
                                    </div>
                                    <div class="form-group m-t-lg">
                                        <label class="control-label col-xs-3">手机号：</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" type="text" placeholder="请输入手机号">
                                        </div>
                                        <div class="col-xs-4">
                                            <button class="btn btn-default btn-block btn-custom btn-sm">获取验证码</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>