{{> home/homeTop home=true}}
<div class="container m-t-md">
    <div class="row">
        {{> home/sideMenu profile=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg user-main-h">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-pink f-s-20"><span class="glyphicon glyphicon-user m-r-xs"></span>个人资料设置</span>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <div class="col-xs-9">
                            <span class="pull-left m-r-sm m-l-lg">个人头像</span>
                            <div>
                                <img class="setting-avatar" src="/images/pro-img.jpg">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="m-t-lg">
                                <button class="btn btn-default btn-custom p-h-lg">上传</button>
                            </div>
                            <p class="m-t-lg">支持JPG、GIF、PNG等图片格式 推荐尺寸：180*180像素</p>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <form class="form-horizontal m-b-md">
                            <div class="form-group">
                                <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>昵称</label>
                                <div class="col-xs-16">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">真实姓名</label>
                                <div class="col-xs-16">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">个性签名</label>
                                <div class="col-xs-16">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">联系电话</label>
                                <div class="col-xs-16">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>性别</label>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option1" checked="">
                                            男</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option2">
                                            女</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">地区</label>
                                <div class="col-xs-8">
                                    <select class="form-control">
                                        <option>省份/直辖市</option>
                                    </select>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control">
                                        <option>请先选择省份/直辖市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <div class="col-md-offset-3 col-xs-16">
                                    <button class="btn btn-default btn-custom btn-block">确认</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>