<div class="container">
    <div class="row">
        {{> home/sideMenu profile=true}}
        <div class="col-xs-19">
            <div class="bg-white shadow p-h-lg user-main-h">
                <div class="row">
                    <div class="col-xs-24">
                        <div class="line">
                            <span class="f-gray f-s-20"><span class="glyphicon glyphicon-user m-r-xs"></span>个人资料设置</span>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <div class="col-xs-9">
                            <span class="pull-left m-r-sm m-l-lg">个人头像</span>
                            <div>
                                <img src="/images/pro-img.jpg">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>支持JPG、GIF、PNG等图片格式 推荐尺寸：180*180像素</p>
                            <div class="m-t-lg">
                                <button class="btn btn-default m-r-xs">上传</button>
                                <button class="btn btn-success">确认</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-24 m-t-lg">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>昵称</label>
                                <div class="col-xs-20">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">真实姓名</label>
                                <div class="col-xs-20">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">简介</label>
                                <div class="col-xs-20">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>手机</label>
                                <div class="col-xs-17">
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success">立即验证</button>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">地区</label>
                                <div class="col-xs-10">
                                    <select class="form-control">
                                        <option>省份/直辖市</option>
                                    </select>
                                </div>
                                <div class="col-xs-10">
                                    <select class="form-control">
                                        <option>请先选择省份/直辖市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>性别</label>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option1" checked="">
                                            男</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option2">
                                            女</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <label class="control-label col-xs-3">邮箱</label>
                                <div class="col-xs-17">
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-success">立即验证</button>
                                </div>
                            </div>
                            <div class="form-group m-t-lg">
                                <div class="col-md-offset-11 col-xs-3">
                                    <button class="btn btn-success">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>