<div class="col-xs-11">
    <div class="editor">
        <div class="wx-editor-left-list">
        <ul id="myTab" class="nav nav-tabs pull-left nav-stacked">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    <div class="bg-color">
                        <span class="glyphicon glyphicon-grain"></span>
                    </div>
                    样式
                </a>
            </li>
            <li>
                <a href="#ios" data-toggle="tab">
                    <div class="bg-color">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </div>
                    模板
                </a>
            </li>
        </ul>
        </div>
        <div class="tab-content wx-editor-content">
            <div class="tab-pane fade in active" id="home">
                <div class="wx-editor-template-list">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">
                                <div class="bg-color bg-success">
                                     <span class="glyphicon glyphicon-header"></span>
                                </div>
                                标题
                            </a>
                        </li>
                        <li>
                            <a href="#tab1" data-toggle="tab">
                                <div class="bg-color bg-danger">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </div>
                                正文
                            </a>
                        </li>
                        <li>
                            <a href="#tab1" data-toggle="tab">
                                <div class="bg-color bg-info">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </div>
                                关注
                            </a>
                        </li>
                        <li>
                            <a href="#tab1" data-toggle="tab">
                                <div class="bg-color bg-warning">
                                    <span class="glyphicon glyphicon-share"></span>
                                </div>
                                分享
                            </a>
                        </li>
                        <li>
                            <a href="#tab1" data-toggle="tab">
                                <div class="bg-color bg-primary">
                                    <span class="glyphicon glyphicon-duplicate"></span>
                                </div>
                                模板
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <div class="bg-color f-white" style="background-color: #72d26e;">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </div>
                                颜色
                            </a>
                            <ul class="dropdown-menu colorpick-w" role="menu" aria-labelledby="myTabDrop1">
                                <li>
                                    <div class="colorpick">
                                        <ul class="list-unstyled">
                                            <li style="background-color: #fff45c;"></li>
                                            <li style="background-color: #fde800;"></li>
                                            <li style="background-color: #ffcb15;"></li>
                                            <li style="background-color: #ffa921;"></li>
                                            <li style="background-color: #ff691f;"></li>
                                            <li style="background-color: #ff391f;"></li>
                                            <li style="background-color: #c53f46;"></li>
                                            <li style="background-color: #d6004a;"></li>
                                            <li style="background-color: #ff1d6b;"></li>
                                            <li style="background-color: #ff4da9;"></li>
                                            <li style="background-color: #ff80c5;"></li>
                                            <li style="background-color: #ffb4ce;"></li>
                                            <li style="background-color: #ddf56d;"></li>
                                            <li style="background-color: #b0f346;"></li>
                                            <li style="background-color: #6fe113;"></li>
                                            <li style="background-color: #87c943;"></li>
                                            <li style="background-color: #129527;"></li>
                                            <li style="background-color: #059d7f;"></li>
                                            <li style="background-color: #00589c;"></li>
                                            <li style="background-color: #4676d9;"></li>
                                            <li style="background-color: #4e99df;"></li>
                                            <li style="background-color: #5faaff;"></li>
                                            <li style="background-color: #3abcff;"></li>
                                            <li style="background-color: #70d8ff;"></li>
                                            <li style="background-color: #cccccc;"></li>
                                            <li style="background-color: #999999;"></li>
                                            <li style="background-color: #666666;"></li>
                                            <li style="background-color: #333333;"></li>
                                            <li style="background-color: #000000;"></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="wx-editor-template-content p-h-xs">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="ios">
                <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                    TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
            </div>
        </div>

    </div>
</div>