<div class="col-xs-10">
    <div class="editor">
        <div class="colorpick">
            <ul class="list-unstyled">
                <li style="background-color: #fff45c;"></li>
                <li style="background-color: #fde800;"></li>
                <li style="background-color: #ffcb15;"></li>
                <li style="background-color: #ffa921;"></li>
                <li style="background-color: #ff691f;"></li>
                <li style="background-color: #ff391f;"></li>
                <li style="background-color: #c53f46;"></li>
                <li style="background-color: #d6004a;"></li>
                <li style="background-color: #ff1d6b;"></li>
                <li style="background-color: #ff4da9;"></li>
                <li style="background-color: #ff80c5;"></li>
                <li style="background-color: #ffb4ce;"></li>
                <li style="background-color: #ddf56d;"></li>
                <li style="background-color: #b0f346;"></li>
                <li style="background-color: #6fe113;"></li>
                <li style="background-color: #87c943;"></li>
                <li style="background-color: #129527;"></li>
                <li style="background-color: #059d7f;"></li>
                <li style="background-color: #00589c;"></li>
                <li style="background-color: #4676d9;"></li>
                <li style="background-color: #4e99df;"></li>
                <li style="background-color: #5faaff;"></li>
                <li style="background-color: #3abcff;"></li>
                <li style="background-color: #70d8ff;"></li>
                <li style="background-color: #cccccc;"></li>
                <li style="background-color: #999999;"></li>
                <li style="background-color: #666666;"></li>
                <li style="background-color: #333333;"></li>
                <li style="background-color: #000000;"></li>
            </ul>
        </div>
        <ul class="nav nav-tabs pull-left nav-stacked">
            <li class="active">
                <a href="#tab1" data-toggle="tab">
                    <span class="glyphicon glyphicon-pencil m-r-xxs"></span>
                    标题
                </a>
            </li>
        </ul>
        <div class="b pull-right p-h-xs" style="height: 443px;width: 330px">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1"></div>
            </div>
        </div>
    </div>
</div>