<div class="form-group">
    <label class="control-label col-xs-3"><span class="f-red m-r-xs">*</span>详细内容：</label>

    <div class="col-xs-20">
        <div class="row m-b-lg">
            {{# if wxEditor }}
                {{> editor/componentList }}
            {{/if}}
            <div class="{{# if wxEditor }}col-xs-13{{else}}col-xs-24{{/if}}">
                <div id="umEditor" style="height: 415px"></div>
            </div>
            {{#if wxEditor }}
                <input type="hidden" id="editorMode" value="weixin">
            {{else}}
                <input type="hidden" id="editorMode" value="">
            {{/if}}
        </div>
    </div>
</div>
{{#content "scripts"}}
    <script src="/js/lib/ueditor/ueditor.config.js"></script>
    <script src="/js/lib/ueditor/ueditor.all.js"></script>
{{/content}}