<div class="form-group m-t-lg">
    <label class="control-label col-xs-3">添加标签：</label>

    <div class="col-xs-20">
        <div class="dropdown labelList">
            <button type="button" class="btn btn-white pull-left m-r-xs dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <ul class="list-unstyled activities-label-list" >
            </ul>
            <ul class="dropdown-menu activities-label-menu" role="menu" id="partial-tags">
                <li>IT</li><li>互联网</li><li>移动互联网</li><li>电商</li>
                <li>创业</li><li>创新</li><li>科技</li><li>公益</li>
                <li>慈善</li><li>环保</li><li>分享会</li><li>志愿者</li>
                <li>分享</li><li>户外</li><li>教育</li><li>讲座</li>
                <li>公开课</li><li>课程</li><li>培训</li><li>英语</li>
                <li>口才</li><li>沙龙</li><li>聚会</li><li>论坛</li>
                <li>会议</li><li>交流</li><li>展览</li><li>摄影</li>
                <li>展会</li><li>创意</li><li>文艺</li><li>艺术</li>
                <li>文学</li><li>文化</li><li>活动</li><li>设计</li>
                <li>校园</li><li>儿童</li><li>亲子</li><li>读书</li>
                <li>交友</li><li>演讲</li><li>手工</li><li>融资</li>
                <li>理财</li><li>金融</li><li>营销</li><li>投资</li>
                <li>时尚</li><li>媒体</li><li>职场</li><li>免费</li>
                <li>音乐</li><li>游戏</li><li>休闲</li><li>心理</li>
                <li>健康</li><li>电影</li><li>音乐会</li><li>演唱会</li>
                <li>舞台剧</li><li>首映</li><li>开幕式</li><li>发布会</li>
            </ul>
        </div>
    </div>
</div>