<div class="form-group m-t-lg">
    <label class="control-label col-xs-3">添加标签：</label>

    <div class="col-xs-20">
        <select class="js-example-basic-single form-control" multiple="multiple">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
        </select>
        {{!--<div class="dropdown labelList">--}}
            {{!--<button type="button" class="btn btn-white pull-left m-r-xs dropdown-toggle create-event-label"--}}
                    {{!--data-toggle="dropdown">--}}
                {{!--<span class="glyphicon glyphicon-plus"></span>--}}
            {{!--</button>--}}
            {{!--<ul class="list-unstyled activities-label-list"></ul>--}}
            {{!--<ul class="dropdown-menu activities-label-menu" role="menu" id="partial-tags">--}}
                {{!--<li id="1">IT</li>--}}
                {{!--<li id="2">互联网</li>--}}
                {{!--<li id="3">移动互联网</li>--}}
                {{!--<li id="4">电商</li>--}}
                {{!--<li id="5">创业</li>--}}
                {{!--<li id="6">创新</li>--}}
                {{!--<li id="7">科技</li>--}}
                {{!--<li id="8">公益</li>--}}
                {{!--<li id="9">慈善</li>--}}
                {{!--<li id="10">环保</li>--}}
                {{!--<li id="11">分享会</li>--}}
                {{!--<li id="12">志愿者</li>--}}
                {{!--<li id="13">分享</li>--}}
                {{!--<li id="14">户外</li>--}}
                {{!--<li id="15">教育</li>--}}
                {{!--<li id="16">讲座</li>--}}
                {{!--<li id="17">公开课</li>--}}
                {{!--<li id="18">课程</li>--}}
                {{!--<li id="19">培训</li>--}}
            {{!--</ul>--}}

        {{!--</div>--}}
    </div>
</div>