<div class="form-group m-t-lg">
    <label class="control-label col-xs-3">添加标签：</label>

    <div class="col-xs-20 labelList">
        <button type="button" class="btn btn-white"><span class="glyphicon glyphicon-plus"></span></button>
        <ul class="list-unstyled" id="partial-tags">
        </ul>
    </div>
</div>