<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h3 class="f-white"><img class="" src="/images/foot-logo.png" style="height: 20px;margin-right: 10px; margin-top: -10px">让招生更简单</h3>
                <p>最世界·自由行——从一张机票、一家酒店的订购，到一次暖心的接机服务、一张轻松融入当地的交通卡，让我们带你探索这个世界</p>
                <p>客服电话：<span>400-4000-4000</span></p>
                <p>反馈建议：<span>kuando@126.com</span></p>
            </div>
            <div class="col-xs-offset-1 col-xs-11">
                <div class="row">
                    <div class="col-xs-8">
                        <h3><span class="glyphicon glyphicon-flash f-green m-r-xxs"></span>快速导航</h3>
                        <a>关于招生易</a>
                        <a>活动发布</a>
                        <a>关于招生易</a>
                    </div>
                    <div class="col-xs-8">
                        <h3><span class="glyphicon glyphicon-link f-green m-r-xxs"></span>友情链接</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <img class="m-t-sm" src="images/erweima.png">
                <h4 class="m-t-md f-white">扫码关注微信公众平台</h4>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-24 m-t-md">
                    <p>2004-2015 © All rights reserved. Version v5.57 京ICP备12003524号 京公网安备11010502023470 京ICP证140673号</p>
                </div>
            </div>
        </div>
    </div>
</footer>